@import "tailwindcss";

/* --- CONFIGURAÇÃO VISUAL MASTER --- */
:root {
  --background: #023047;
  --foreground: #ffffff;
}

body {
  background-color: #023047;
  color: #ffffff;
  /* Força a fonte Montserrat no corpo todo */
  font-family: var(--font-montserrat), sans-serif; 
  overflow-x: hidden;
}

/* Títulos sempre em Rajdhani */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-rajdhani), sans-serif;
}

/* --- SWIPER (O Carrossel) --- */
.swiper-button-next,
.swiper-button-prev {
  background-color: #2ECC40; /* Verde Neon */
  color: #023047;            /* Seta Azul */
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: transform 0.2s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
  background-color: #ffffff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
  font-weight: 900;
}

.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.3;
}
.swiper-pagination-bullet-active {
  background-color: #2ECC40;
  opacity: 1;
  width: 24px;
  border-radius: 6px;
  transition: width 0.3s;
}