/* app/globals.css */

@import "tailwindcss";

/* --- CONFIGURAÇÃO VISUAL MASTER --- */
:root {
  --background: #023047;
  --foreground: #ffffff;
}

body {
  background-color: #023047;
  color: #ffffff;
  font-family: var(--font-montserrat), sans-serif; 
  overflow-x: hidden;
}

/* Títulos sempre em Rajdhani */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-rajdhani), sans-serif;
}

/* --- SWIPER (O Carrossel) --- */
/* Limpei os estilos globais de botões que estavam causando conflito */

.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 0.3;
}
.swiper-pagination-bullet-active {
  background-color: #2ECC40 !important;
  opacity: 1;
  width: 24px;
  border-radius: 6px;
  transition: width 0.3s;
}